@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet');
/* Standard styles */
body {
    font-family: 'Open Sans';
    color: black;
}

h1 {
    font-family: 'Bungee';
    color: red;
    cursor: pointer;
}

/* Hover shrink class */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
/*-- HEADER --*/
.header-row {
    background-color: #42b042c7;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 999;
}

.logo {
    max-width: 130px;
    max-height: 120px;
    margin-left: 15px;
}


.main-row {
    background-color: none;
    min-height: calc(100vh - 100px - 50px);
    margin-bottom: 50px!important;
    margin-top: 100px!important;
}
.footer-row {
    background-color: green;
    background-color: none;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.question-form {
    /* display: block; */
    max-width: 100%;
    color:black;
    /* margin: 45% 0 50px 60px; */
    padding: 30px; 
}

#quiz {
    
}

#question-form h4 {
    font-size: 130%;
    color: black;
    margin-bottom: 30px;
}

    /* display: block; */
    max-width: 100%;
    color:#fff;
    /* margin: 45% 0 50px 60px; */
    padding: 30px; 
}

#quiz {
    
}

#question-form h4 {
    font-size: 130%;
    color: #fafafa;
    margin-bottom: 30px;
}

.next-button {
    padding: 10px 20px 10px 20px;
    font-size: 100%;
    background-color: #fafafa;
    color: darkgreen;
    display: inline-block;
}

.next-button:hover {
    background-color: orangered;
    color:#fafafa
}

.landmark-image img {
    max-width: 100%;
    max-height: 40vh;
}

.lm-image {
    height: 30vh;
}
.lm-i-1 {
    background: url('/media/caro-lehmann-a8Itzshq7U8-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#score-container {
    text-align: right;
}
/*---- Google Maps ----*/
/* Google Maps */
.map-container {
    width: 100%;
    height: 100%;
}
#map {
    height: 100%;
    min-height: 30vh;
}
#hero-image {
    background: url("/media/dublin.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}

#heading-home {
    text-align: center;
    padding-top: 2rem;
    font-size: 2.1rem;
    font-weight: 500;
    color: #5c3008;
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
}

#sub-heading-home {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #FF7900;
    text-shadow: 0.1rem 0.1rem #b89d9f;
    font-family: 'Roboto', sans-serif;
    margin-top: 1.5rem;
    padding-top: 1rem;
    font-size: 1.7rem;
    font-weight: 300;
    color: #000000;
}

.para-home {
    text-align: center;
    padding-top: 2.5rem;
    padding-top: 3rem;
    font-size: 1.2rem;
    color: #000000;
}

/* walking leprechaun - It doesn't work - TO CHECK*/

#leprechaun {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    animation: walk 5s infinite;
}

@keyframes walk {
  from {left: 0px;}
  to {right: 200px;}
}

/* button on the landing page */
.btn-home {
    background-color: #FF7900;
    border: none;
    display: inline-block;
    text-align: center;
    line-height: 1.2rem;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    border-radius: 0.4rem;
}

/* Hover effect for button on the landing page
box-shadow was used to overwrite Bootstrap btn-secondary color */
.btn-more:hover,
.btn-more:focus,
.btn-more:active {
    background-color: #ca660cdb !important;
    border-color: #d86d0ddb !important;
    box-shadow: 0.2rem 0.2rem #5C3324 !important;
    border: 0.12rem solid;
}

.btn-main {
    margin-top: 2.5rem;
}

.container-fluid,
.row {
    margin: 0;
    padding: 0;
}

/* Rules modal */
.rules-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem; 
    color: #fff;
    background-color: #FF7900;
    border: none;
    display: inline-block;
    text-align: center;
    line-height: 1.2rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 6rem;
    border-radius: 0.4rem;
}

.modalDialog {
    position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
    max-width: 30rem;
    position: relative;
	margin: 10% auto;
    padding: 1rem 1rem 1rem 0;
	border-radius: 10px;
    background: #42b042c7;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}

.rules-header {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.close {
	background: #ca660cdb;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:hover {
    color: #fff;
}
/* answer styles */
.wrong {
    color: red;
}
.correct {
    color: green;
}

.fa-spin {
    margin-left: 10px;
    color: grey;
}

.wait-text {
    display: inline;
    color: grey;
}

/* Media Queries */

/* Display on medium screens (tablet devices) 
@media screen and (min-width: 764px) {
}

/* Display on large devices 
@media screen and (min-width: 1024px) {

}

*/

/* .lm-i-1 {
    background: url('/media/caro-lehmann-a8Itzshq7U8-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
} */
/*---- Google Maps ----*/                    
/* #map {
    min-height: 360px;
} */
        