body {
    font-family: 'Open Sans';
    color: white;
}

h1 {
    font-family: 'Bungee';
    color: red;
    cursor: pointer;
}
.header-row {
    background-color: green;
    height: 100px;
}
.main-row {
    background-color: grey;
    min-height: calc(100vh - 100px - 50px);
}
.footer-row {
    background-color: blue;
    height: 50px;
}

#question-form {
    /* display: block; */
    max-width: 100%;
    color:#fff;
    /* margin: 45% 0 50px 60px; */
    padding: 30px; 
}

#quiz {
    
}

#question-form h4 {
    font-size: 130%;
    color: #fafafa;
    margin-bottom: 30px;
}

.next-button {
    margin-top: 30px;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    font-size: 100%;
    background-color: #fafafa;
    color: darkgreen;
    display: block;
}

.next-button:hover {
    background-color: orangered;
    color:#fafafa
}

.landmark-image img {
    max-width: 100%;
    max-height: 40vh;
}

.lm-i-1 {
    background: url('/media/caro-lehmann-a8Itzshq7U8-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
}
/* Google Maps */
.map-container {
    width: 100%;
    height: auto;
}
#map {
    height: 100%;
}