<!--The Discover dublin link as an anchor tag to the home page.-->
<a href="{% url 'home' %}">
        <img src="{{MEDIA_URL}}discover_dublin_150x150.png" alt="discover dublin logo" class="logo">
</a>

<!-- Rules Modal -->

<!-- Modal -->
<a href="#openModal"><button class="rules-button hvr-shrink">Rules</button></a>

<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close hvr-shrink">X</a>
		<h2 class="rules-header">Dublin city trivia game & sightseeing tour!</h2>
		<ul class="rules-content">
            <li>The aim is to get all the questions right, and at the end you’ll see the route you took to these locations, plotted out on a map.</li>
            <br>
            <li>
                Questions are multiple choice, you need to get each one right to proceed.
            </li>
            <br>
            <li>Once you have gotten the right answer, an image relevant to each location will display.</li>
            <br>
            <li>Your current score will be visible at all times, with your final result visible at the end.</li>
        </ul>
        <h5>Have fun!</h5>
	</div>
</div>

