<!-- <div class="landmark-image">
    <img src="{{MEDIA_URL}}caro-lehmann-a8Itzshq7U8-unsplash.jpg" alt="St.Stephen's Green shopping center from inside">
    <img src="{{MEDIA_URL}}stephen-bergin-jEQydmwFlFM-unsplash.jpg" alt="Entrance to Trinity College in Dublin">
    <img src="{{MEDIA_URL}}gettyimages-482763839-612x612.jpg" alt="Ha'penny bridge at twilight">
    <img src="{{MEDIA_URL}}matheus-camara-da-silva-NL2ORrGh8KM-unsplash.jpg" alt="Temple Bar pub">
    <img src="{{MEDIA_URL}}jeremy-matteo-KnQBkeR7y1I-unsplash.jpg" alt="Picture of Dublin Castle taken from the garden">
    <img src="{{MEDIA_URL}}photo-1542382841912-407ced1ff6d9.jpg" alt="St. Patrick's cathedral altar">
    <img src="{{MEDIA_URL}}ana-ribeiro-KhoKK3CMgTk-unsplash.jpg" alt="Guinness Tap at the Gravity Bar in the Storehouse">
    <img src="{{MEDIA_URL}}todd-poirier-9k9AGYjJny0-unsplash.jpg" alt="Bono from U2 singing">
    <img src="{{MEDIA_URL}}cropped_CUT_arthur_Guinness.jpg" alt="Painting of Arthur Guinness">
</div> -->