<div id="question-form">
    <form id="quiz">

               <h4>Who was the founder of the Guinness Brewery?</h4>

                <div>
                    <input type="radio" name="question-7-answers" id="question-7-answer-a" value="wrong"/>
                    <label for="question-7-answer-a">a) Liam Neeson</label>
                </div>

                <div>
                    <input type="radio" name="question-7-answers" id="question-7-answer-b" value="correct"/>
                    <label for="question-7-answer-b">b) Arthur Guinness</label>
                </div>

                <div>
                    <input type="radio" name="question-7-answers" id="question-7-answer-c" value="wrong"/>
                    <label for="question-7-answer-c">c) William Guinness</label>
                </div>

                <div>
                    <input type="radio" name="question-7-answers" id="question-7-answer-d" value="wrong"/>
                    <label for="question-7-answer-d">d) James Joyce</label>
                </div>
                <input type="submit" name="next-question" value="Next">
                
        </form>
</div>