<div class="question-form" id="form6">
    <form id="quiz">

                <h4>Jonathan Swift author of Guilliver's Travels, was Dean of this Dublin Cathedral:</h4>
                <div>
                    <input type="radio" name="question-6-answers" id="question-6-answer-a" value="wrong"/>
                    <label for="question-6-answer-a">a) Christchurch Cathedral</label>
                </div>

                <div>
                    <input type="radio" name="question-6-answers" id="question-6-answer-b" value="correct"/>
                    <label for="question-6-answer-b">b) Saint Patrick's Cathedral</label>
                </div>

                <div>
                    <input type="radio" name="question-6-answers" id="question-6-answer-c" value="wrong"/>
                    <label for="question-6-answer-c">c) St Stephens's Cathedral</label>
                </div>

                <div>
                    <input type="radio" name="question-6-answers" id="question-6-answer-d" value="wrong"/>
                    <label for="question-6-answer-d">d) St Mark's Basilica</label>
                </div>
        </form>
    <button class="next-button" id="q6-btn">Next</button>
</div>