<div class="question-form" id="form8">
    <form id="quiz">

               <h3>Bonus Question!</h3>
                <h4>Which famour Irish Rock band calls Dublin home?</h4>

                <div>
                    <input type="radio" name="question-8-answers" id="question-8-answer-a" value="wrong"/>
                    <label for="question-8-answer-a">a) AC/DC</label>
                </div>

                <div>
                    <input type="radio" name="question-8-answers" id="question-8-answer-b" value="correct"/>
                    <label for="question-8-answer-b">b) U2</label>
                </div>

                <div>
                    <input type="radio" name="question-8-answers" id="question-8-answer-c" value="wrong"/>
                    <label for="question-8-answer-c">c) The Killers</label>
                </div>

                <div>
                    <input type="radio" name="question-8-answers" id="question-8-answer-d" value="wrong"/>
                    <label for="question-8-answer-d">d) Radiohead</label>
                </div>
            </form>
    <button class="next-button" id="q8-btn">Next</button>
</div>