<div class="question-form" id="form3">
    <form id="quiz">

               <h4>The Ha'penny Bridge is one of the oldest in Dublin. How did it get its name?</h4>

                <div>
                    <input type="radio" name="question-3-answers" id="question-3-answer-a" value="wrong"/>
                    <label for="question-3-answer-a">a) Because it is shaped like half a penny</label>
                </div>

                <div>
                    <input type="radio" name="question-3-answers" id="question-3-answer-b" value="correct"/>
                    <label for="question-3-answer-b">b) Because it once cost a half penny to cross the bridge</label>
                </div>

                <div>
                    <input type="radio" name="question-3-answers" id="question-3-answer-c" value="wrong"/>
                    <label for="question-3-answer-c">c) Because it was built by Harry Penny and his friends called him Ha</label>
                </div>

                <div>
                    <input type="radio" name="question-3-answers" id="question-3-answer-d" value="wrong"/>
                    <label for="question-3-answer-d">d) Because a girl named Penny used to perform tricks on it</label>
                </div>
        </form>
    <button class="next-button" id="q3-btn">Next</button><p class="wait-text" hidden><i class="fas fa-circle-notch fa-spin"></i>  Next question in <span class="time-counter">3</span></p>
</div>