<div class="question-form" id="form7">
    <form id="quiz">

               <h5>Who was the founder of the Guinness Brewery?</h5>

                <div>
                    <input type="radio" name="question-7-answers" id="question-7-answer-a" value="wrong"/>
                    <label for="question-7-answer-a">a) Liam Neeson</label>
                </div>

                <div>
                    <input type="radio" name="question-7-answers" id="question-7-answer-b" value="correct"/>
                    <label for="question-7-answer-b">b) Arthur Guinness</label>
                </div>

                <div>
                    <input type="radio" name="question-7-answers" id="question-7-answer-c" value="wrong"/>
                    <label for="question-7-answer-c">c) William Guinness</label>
                </div>

                <div>
                    <input type="radio" name="question-7-answers" id="question-7-answer-d" value="wrong"/>
                    <label for="question-7-answer-d">d) James Joyce</label>
                </div>
                </form>
    <button class="next-button" id="q7-btn">Next</button><p class="wait-text" hidden><i class="fas fa-circle-notch fa-spin"></i>  Next question in <span class="time-counter">3</span></p>
</div>