<div id="question-form">
    <form id="quiz">
                <h4>1. Which park is in the city center and adjacent to one of Dublin’s main shopping streets(Grafton street)?</h4>
                <div>
                    <input type="radio" name="question-1-answers" id="question-1-answer-a" value="wrong"/>
                    <label for="question-1-answer-a">a) Phoenix Park</label>
                </div>

                <div>
                    <input type="radio" name="question-1-answers" id="question-1-answer-b" value="correct"/>
                    <label for="question-1-answer-b">b) St. Stephen's Green</label>
                </div>

                <div>
                    <input type="radio" name="question-1-answers" id="question-1-answer-c" value="wrong"/>
                    <label for="question-1-answer-c">c) Central Park</label>
                </div>

                <div>
                    <input type="radio" name="question-1-answers" id="question-1-answer-d" value="wrong"/>
                    <label for="question-1-answer-d">d) Hyde Park</label>
                </div>
    </form>
    <button class="next-button">Next</button>
</div>
