<div class="question-form" id="form4">
    <form id="quiz">

                <h5>Which area located in Dublin's City Centre is famous among party revelers for its nightlife?</h5>
                <div>
                    <input type="radio" name="question-4-answers" id="question-4-answer-a" value="wrong"/>
                    <label for="question-4-answer-a">a) Manhattan</label>
                </div>

                <div>
                    <input type="radio" name="question-4-answers" id="question-4-answer-b" value="correct"/>
                    <label for="question-4-answer-b">b) Temple Bar</label>
                </div>

                <div>
                    <input type="radio" name="question-4-answers" id="question-4-answer-c" value="wrong"/>
                    <label for="question-4-answer-c">c) Sandyford</label>
                </div>

                <div>
                    <input type="radio" name="question-4-answers" id="question-4-answer-d" value="wrong"/>
                    <label for="question-4-answer-d">d) Tallaght</label>
                </div>
        </form>
    <button class="next-button" id="q4-btn">Next</button><p class="wait-text" hidden><i class="fas fa-circle-notch fa-spin"></i>  Next question in <span class="time-counter">3</span></p>
</div>