<div class="question-form" id="form5">
    <form id="quiz">

                <h5>Which Dublin's top attraction hosts the Heineken Green Energy Festival?</h5>

                <div>
                    <input type="radio" name="question-5-answers" id="question-5-answer-a" value="wrong"/>
                    <label for="question-5-answer-a">a) Guinness Storehouse</label>
                </div>

                <div>
                    <input type="radio" name="question-5-answers" id="question-5-answer-b" value="correct"/>
                    <label for="question-5-answer-b">b) Dublin Castle</label>
                </div>

                <div>
                    <input type="radio" name="question-5-answers" id="question-5-answer-c" value="wrong"/>
                    <label for="question-5-answer-c">c) Phoenix Park</label>
                </div>

                <div>
                    <input type="radio" name="question-5-answers" id="question-5-answer-d" value="wrong"/>
                    <label for="question-5-answer-d">d) Malahide Castle</label>
                </div>
        </form>
    <button class="next-button" id="q5-btn">Next</button><p class="wait-text" hidden><i class="fas fa-circle-notch fa-spin"></i>  Next question in <span class="time-counter">3</span></p>
</div>