<!--Matheus Camara da silva picture--> 

<img src="" alt="Temple Bar pub in Temple Bar Dublin">
<div id="question-form">
    <form id="quiz">

                <h4>Which area located in Dublin's City Centre is famous among party revelers for its nightlife?</h4>
                <div>
                    <input type="radio" name="question-4-answers" id="question-4-answer-a" value="wrong"/>
                    <label for="question-4-answer-a">a) Manhattan</label>
                </div>

                <div>
                    <input type="radio" name="question-4-answers" id="question-4-answer-b" value="correct"/>
                    <label for="question-4-answer-b">b) Temple Bar</label>
                </div>

                <div>
                    <input type="radio" name="question-4-answers" id="question-4-answer-c" value="wrong"/>
                    <label for="question-4-answer-c">c) Sandyford</label>
                </div>

                <div>
                    <input type="radio" name="question-4-answers" id="question-4-answer-d" value="wrong"/>
                    <label for="question-4-answer-d">d) Tallaght</label>
                </div>
                <input type="submit" name="next-question" value="Next">
        </form>
</div>