<!--Jeremy matteo picture--> 

<img src="" alt="Picture of Dublin Castle taken from the garden">
<div id="question-form">
    <form id="quiz">

                <h4>Which Dublin's top attraction hosts the Heineken Green Energy Festival?</h4>

                <div>
                    <input type="radio" name="question-5-answers" id="question-5-answer-a" value="wrong"/>
                    <label for="question-5-answer-a">a) Guinness Storehouse</label>
                </div>

                <div>
                    <input type="radio" name="question-5-answers" id="question-5-answer-b" value="correct"/>
                    <label for="question-5-answer-b">b) Dublin Castle</label>
                </div>

                <div>
                    <input type="radio" name="question-5-answers" id="question-5-answer-c" value="wrong"/>
                    <label for="question-5-answer-c">c) Phoenix Park</label>
                </div>

                <div>
                    <input type="radio" name="question-5-answers" id="question-5-answer-d" value="wrong"/>
                    <label for="question-5-answer-d">d) Malahide Castle</label>
                </div>
                <input type="submit" name="next-question" value="Next">
        </form>
</div>