{% extends "base.html" %}
{% load static %}

{% block content %}

<!--Home section-->
<section class="home">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12">
            <h1 id="heading-home">trivia quiz</h1>
                <h2 id="sub-heading-home">How much do you know about Dublin?</h2>
                    <p class="para-home">
                        Follow Lochlann the leprechaun to see<br> what you really know...
                    </p>
            </div>
            <!--leprechaun icon - credit: Flaticon (https://www.flaticon.com/)-->
            <img id="img-leprechaun" src="media/leprechaun128x128.png" alt="leprechaun image">
        </div>
    </div>
</section>
{% endblock %}