{% extends "base.html" %}
{% load static %}

{% block content %}

<!--Home section-->
<section class="bg-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            <h1 id="heading-home">trivia quiz</h1>
                <h2 id="sub-heading-home">How much do you know about Dublin?</h2>
                    <p class="para-home">
                        Follow Lochlann the leprechaun to see<br> what you really know...
                    </p>
            </div>
        </div>  
        <!--leprechaun icon - credit: Flaticon (https://www.flaticon.com/)-->
        <!-- <div id="lep-div"> -->
        <img id="leprechaun" src="{{MEDIA_URL}}leprechaun128x128.png" alt="leprechaun">
        <!-- </div> -->
        <!--add link to the game-->
        <div class="text-center btn-main">
            <a href="{% url 'trivia' %}" class="btn btn-secondary btn-xs btn-home mt-2">
                Start Game
            </a>
        </div>
    </div>
</section>
{% endblock %}