{% extends "base.html" %}
{% load static %}

{% block content %}
   <div class="col-12 col-lg-8 order-lg-2 d-none d-md-block px-0">
       {% include 'trivia/includes/map.html' %}
   </div>
   <div class="col-12 col-lg-4 order-lg-1 px-0">
        <div class="row justify-content-center lm-image" id="lm-i-1">
            {% include 'trivia/includes/landmark_image.html' %}
        </div>
        <div class="row justify-content-center">
            <div class="question">
                {% include 'trivia/includes/question1.html' %}
                {% include 'trivia/includes/question2.html' %}
                {% include 'trivia/includes/question3.html' %}
                {% include 'trivia/includes/question4.html' %}
                {% include 'trivia/includes/question5.html' %}
                {% include 'trivia/includes/question6.html' %}
                {% include 'trivia/includes/question7.html' %}
                {% include 'trivia/includes/question8.html' %}
                {% include 'trivia/includes/question9.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
//Default map location
    function initMap() {
        const dublin = { lat: 53.35001680243868, lng: -6.262019153232362 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: dublin
        });
        const marker = new google.maps.Marker({
            position: dublin,
            map: map,
            animation: google.maps.Animation.DROP,
        });
    }
//Answer 1 location St Stephens Green
    function mapStephensGreen() {
        const stephensGreen = { lat: 53.336989909757534, lng: -6.260008930684645 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: stephensGreen
        });
        const marker = new google.maps.Marker({
            position: stephensGreen,
            map: map,
            animation: google.maps.Animation.DROP
        });
    };
//Answer 2 location Trinity College
    function mapTrinityCollege() {
        const trinityCollege = { lat: 53.34373583273199, lng: -6.254568919628764 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: trinityCollege,
            animation: google.maps.Animation.DROP
        });
    };
//Answer 3 location Ha'penny Bridge
    function mapPennyBridge() {
        const pennyBridge = { lat: 53.34636712861372, lng: -6.262660912822005 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: pennyBridge,
            animation: google.maps.Animation.DROP
        });
    };
//Answer 4 location Temple Bar
    function mapTempleBar() {
        const templeBar = { lat: 53.34492482071045, lng: -6.267571428565106 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: templeBar,
            animation: google.maps.Animation.DROP
        });
    };
//Answer 5 location Dublin Castle
    function mapDublinCastle() {
        const dublinCastle = { lat: 53.34295013374614, lng: -6.267144087688027 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: dublinCastle,
            animation: google.maps.Animation.DROP
        });
    };
//Answer 6 location St Patricks Cathedral
    function mapPatsCath() {
        const patsCath = { lat: 53.33968193273843, lng: -6.270757869836692 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: patsCath,
            animation: google.maps.Animation.DROP
        });
    };
//Answer 7 location Guinness Storehouse
    function mapGuinnStore() {
        const guinnStore = { lat: 53.34213811762754, lng: -6.286056642851632 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: guinnStore,
            animation: google.maps.Animation.DROP
        });
    };
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpdiHXQF6vwlQwlWzlqu25P3HBUtVC8PA&callback=initMap"></script>

{% endblock %}
